<body>
<div class="poz" *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'COMPANY_ADMIN' ; else sorryMessage">
<div class="card">
<h1 class="heading">Create your own appointment for {{company?.name}} </h1>
<h2 class="heading2">See your <button class="dugmence" (click)="seeCalendar()">work calendar</button> if you want to</h2>
<div class="veliki">

<form class="forma" [formGroup]="appointmentForm">
    <div class="polje">
    <label for="datum">Appointment date:</label>
    <input type="date" formControlName="datum" required class="input1"><br>
    </div>

    <div class="polje">
    <label for="string">Appointment time:</label>
    <input type="time" formControlName="vreme"  required class="input2"><br>
    </div>

    <div class="polje">
    <label for="broj">Appointment duration:</label>
    <input type="number" formControlName="trajanje" required class="input3"><br>
    </div>

    <button type="submit" (click)="createAppointment()">Create</button>
    <p class="poruka">{{message}}</p>
  </form>

  
  </div>
</div>
</div>
<ng-template #sorryMessage>
    <div class="sorry-message">
      <p>unauthorized</p>
    </div>
  </ng-template>
</body>
