/* reservations.component.css */

/* Style for the container div */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  
  /* Style for each reservation item */
  .reservation-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff; /* White background */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  
  /* Style for the no reservations message */
  .no-reservations {
    color: #888;
  }
  
  
  /* Style for the header */
  h2 {
    color: #3498db; /* Blue header text */
  }
  
  /* Style for the item list within each reservation */
  .item-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  /* Style for each item in the list */
  .item {
    margin-bottom: 5px;
  }
  
  /* Basic button styling */
  button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db; /* Blue color, you can change it */
    color: #fff; /* White text color */
    font-size: 16px;
  }
  
  /* Hover effect */
  button:hover {
    background-color: #2980b9; /* Darker blue on hover, you can change it */
  }
  
  .view-details-button {
    background-color: #007bff; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  button:disabled {
    background-color: #ddd; /* Siva pozadina za onemogućeno dugme */
    color: #666; /* Tamnosiva boja teksta za onemogućeno dugme */
    cursor: not-allowed; /* Promenite kursor na not-allowed za onemogućeno dugme */
  }
  
  