<h1>Welcome</h1>
<button routerLink="/register">Register</button>
<button (click)="redirectToLogin()">Login</button>
<button (click)="redirectToAllCompanies()">Companies</button>
<button (click)="redirectToCompanyForm()">Create company</button>
<button (click)="redirectToAllEquipments()">All equipments</button>
<div style="width: 650px;">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<div style="width: 650px;">
    <full-calendar [options]="calendarOptions1"></full-calendar>
</div>

