<div *ngIf="userStateService.getLoggedInUser() ; else sorryMessage">
<button (click)="redirectToAllCompanies()">Companies</button>
<button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'SYSTEM_ADMIN'" (click)="redirectToCompanyForm()">Create company</button>
<button (click)="redirectToAllEquipments()">All equipments</button>
<button (click)="redirectToProfile()">Profile</button>
<button (click)="redirectToAdminCompany()">My company</button>
<button (click)="redirectToManageAdmins()">Manage administrations</button>
</div>
<ng-template #sorryMessage>
    <div class="sorry-message">
      <p>unauthorized</p>
    </div>
  </ng-template>