.background{
    background-image: url('https://img.freepik.com/premium-vector/vector-illustration-businessman-handshake-contract-signing-background-business-finance_189959-1123.jpg?w=900');
    background-size: cover; /* Prilagodi veličinu slike tako da pokrije celu pozadinu */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px; 
}

button {
    border-radius: 15px;
    background-color: lightblue;
    color: #2c3e50;
    font-size: 16px;
    height: auto;
    border: 3px solid #2c3e50; 
    display: flex; /* Koristi fleksibilni prikaz */
    flex-direction: column; /* Postavi orijentaciju na kolonu */
    align-items: center; /* Centriraj sadržaj horizontalno */
    height: 25px;
    width: 70px;
}

button:hover {
    background-color: #2980b9; /* Tamnija nijansa plave prilikom hover-a */
}