body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .pocetak
{
    display: flex;
    flex-direction: row;
}

.buttonsi{
  display: flex;
  flex-direction: row;
}

  .edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; 
    margin-left: 500px; 
    border-color: #0066cc;
    padding: 15px; 
    border-radius: 5px;
    border-style: solid;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

  }

  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  h1 {
    color: #3498db;
    margin-bottom: 3px;
  }

  label {
    color: #0066cc;
    font-weight: bold;
    width: 150px; /* Prilagodite širinu prema potrebi */
    display: inline-block;
  }

  input {
    padding: 8px;
    margin-top: 6px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .readonly-input {
    background-color: #f2f2f2;
    color: #808080;
    cursor: not-allowed;
  }

  button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left:205px;
}


button:hover {
    background-color: #2980b9;
}


.icon {
  font-size: 16px;
  margin-right: 5px;
  color: white; /* Dodaj boju ikonici */
  margin-top: 8px;
}
