<body>
<div class="edit-profile-container">
  <div class="pocetak"><img src="assets/images/prof.png" width="70px" height="55px"><h1>Edit profile</h1></div>
    <form [formGroup]="userForm">
      <div class="table-container">
        <table class="table">
          <tr>
            <td>
              <label for="email">Email:</label>
              <input id="email" formControlName="email" placeholder="Email" readonly class="readonly-input"/>
            </td>
          </tr>
          <tr>
            <td>
              <label for="firstName">First name:</label>
              <input id="firstName" formControlName="firstName" placeholder="First Name" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="lastName">Last name:</label>
              <input id="lastName" formControlName="lastName" placeholder="Last Name" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="city">City:</label>
              <input id="city" formControlName="city" placeholder="City" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="country">Country:</label>
              <input id="country" formControlName="country" placeholder="Country" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="phoneNumber">Phone number:</label>
              <input id="phoneNumber" formControlName="phoneNumber" placeholder="phoneNumber" />
            </td>
          </tr>
        </table>
      </div>

      <button mat-raised-button color="accent" (click)="togglePasswordForm()">
        <mat-icon class="icon">vpn_key</mat-icon>
        Change Password
    </button>

    <div *ngIf="showPasswordForm">
      <form [formGroup]="passwordForm">
        <div>
          <label for="currentPassword">Current Password:</label>
          <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current Password" />
        </div>
        <div>
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password" />
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" />
        </div>
      </form>

      <button mat-raised-button color="primary" (click)="ChangePassword()">
          <mat-icon class="icon">done</mat-icon>
          Save Password
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="SaveChanges()">
        <mat-icon class="icon">done</mat-icon>
        Save Changes
      </button>
    </form>
  </div>
  </body>