@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

*{
  box-sizing: border-box;
  /*font-family: 'Saira Semi Condensed', sans-serif;*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s ease;
}

body {
    /*background: #dfdfdf;*/
    background: #f0f8ff; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
    margin-top: 80px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px; 
    margin-bottom: 16px;
    color: #3498db;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    flex-direction: row;
}

.select-users{
    margin-right: 2px;
}

label, input {
    padding: 12px; 
}

label, [placeholder] {
    color: #555;
}

label i {
    margin-right: 10px;
}

.field:focus-within label {
    color: #000;
    letter-spacing: 2px;
}

input, textarea {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    width: calc(100% - 24px); /* Širina input-a uzimajući u obzir padding /
    margin-bottom: 8px; / Smanjenje razmaka između polja /
    padding: 12px; / Povećanje prostora oko unosa */

    &:focus {
        box-shadow: none;
    }
    border: 1px solid black; /*dodalaaa*/
}

textarea {
    resize: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

button {
    background-color: #3498db;
    padding: 12px 24px;
    margin: 16px 0 50px 0;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        letter-spacing: 2px;
        box-shadow: none;
    }
}


/* Koristi Flexbox za prikaz checkboxa i teksta jedan pored drugog */
.user-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Stilizacija checkbox-a */
.user-item input{
    margin-right: 1px;
}


/* Stilizacija checkbox-a kada je selektovan */
.user-item input[type="checkbox"]:checked + span {
    font-weight: bold;
    color: #2f4ad0;
}


/* Povećaj veličinu checkbox-a */
.user-item input {
    margin-right: 8px; /* Povećaj marginu između checkbox-a i teksta */
    width: 20px; /* Povećaj širinu checkbox-a */
    height: 20px; /* Povećaj visinu checkbox-a */
}

/* Prilagodi stil teksta korisnika (paragrafa) */
.user-item p {
    margin: 0; /* Poništi marginu za paragraf */
    flex: 1; /* Proširi paragraf da popuni dostupan prostor */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Postavi marginu između checkbox-a i teksta korisnika */
.user-item {
    margin-bottom: 8px;
}



