<div *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'SYSTEM_ADMIN' ; else sorryMessage">
  <body>
    <div class="container">
      <form [formGroup]="companyForm" (ngSubmit)="createCompany()">
        <h1>Create company</h1>
        <div class="field" tabindex="1">
          <label>
            <i class="far fa-user"></i>Name:
          </label>
          <input formControlName="name" type="text" placeholder="Name">
        </div>
        <div class="field" tabindex="2">
          <label>
            <i class="far fa-envelope"></i>Address:
          </label>
          <input formControlName="address" type="text" placeholder="Address" required>
        </div>
        <div class="field" tabindex="3">
          <label>
            <i class="far fa-edit"></i>Description:
          </label>
          <input formControlName="description" type="text" placeholder="Type here" required>
        </div>
        
        <div class="field" tabindex="5">
          <label>
            <i class="far fa-clock"></i>Work Time Begin:
          </label>
          <input formControlName="workTimeBegin" type="time" placeholder="Work Time Begin" required>
        </div>
        <div class="field" tabindex="6">
          <label>
            <i class="far fa-clock"></i>Work Time End:
          </label>
          <input formControlName="workTimeEnd" type="time" placeholder="Work Time End" required>
        </div>
        <div class="field" tabindex="4">
          <div class="select-users">
            <label>
              <i class="far fa-check-square"></i>Choose company admin:
            </label>
          </div>
          <div *ngFor="let user of chooseUsers; let i = index" class="user-item">
            <input type="checkbox" [checked]="selectedUsersId.includes(user.id || 0)" (change)="toggleUserSelection(user.id || 0)">
            <p>{{ user.firstName }} {{ user.lastName }}</p>
          </div>
        </div>
        <button type="submit">CREATE COMPANY</button>
      </form>
    </div>
  </body>
</div>
<ng-template #sorryMessage>
  <div class="sorry-message">
    <p>Unauthorized</p>
  </div>
</ng-template>
