<div class="background">
  <div *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER' ; else sorryMessage">

    <div class="elementi_jedni_pored_drugog">
      <div class="card">
        <div class="nesto_nzm">
          <img src="../../assets/images/negative.png"  alt="Description of the image" class="card-image-negative">
          <h1 class="header">
            Your penalty points!
          </h1>
          <img src="../../assets/images/pessimistic.png"  alt="Description of the image" class="card-image">
        </div>
  
        <div>
            <p class="card_text">Your penalty points: <span id="penaltyPoints">{{ penaltyPoints }}</span></p>
            <div *ngIf = "penaltyPoints !== 0">
                <p>Current date: <span id="currentDateTime"> {{ formattedCurrentDate }}</span></p>
                <p>Valid until: <span id="validUntilDate"> {{ formattedValidUntilDate }}</span></p>
            </div>
        </div>
        </div>
        <img src="../../assets/images/razno.png"  alt="Description of the image" class="card-image-razno">
      </div>
      
    </div>
    
    <ng-template #sorryMessage>
      <div class="sorry-message">
        <p>unauthorized</p>
      </div>
  </ng-template>
</div>

