<div *ngIf="reservations.length > 0; else noReservations">
  <div *ngIf="userStateService.getLoggedInUser() ; else sorryMessage">
    <h2>Reservations for {{ username }}</h2>
    <ul>
      
      <li *ngFor="let reservation of reservations">
        <div *ngIf="userStateService.getLoggedInUser()?.email===reservation.user?.email">
        <p>Date: {{ reservation.appointmentDate?.toString()?.slice(0, 11)?.replaceAll(',', '.')}}</p>
        <p>Time: {{ reservation.appointmentTime}}</p>
        <p>Duration: {{ reservation.appointmentDuration }}</p>
        
        <button *ngIf="reservation.id" (click)="viewReservationDetails(reservation.id)" >View Details</button>
      </div>
      </li>
      
    </ul>
  </div>
  </div>
  <ng-template #noReservations>
    <p>No reservations found for {{ username }}</p>
  </ng-template>
  <ng-template #sorryMessage>
    <div class="sorry-message">
      <p>unauthorized</p>
    </div>
  </ng-template>
  