<div *ngIf="reservations.length > 0; else noReservations">
    <h2>Reservations for {{ username }}</h2>
    <ul>
      <li *ngFor="let reservation of reservations">
        <p>ID: {{ reservation.id }}</p>
        <p>Date: {{ reservation.appointmentDate?.toString()?.slice(0, 11)?.replaceAll(',', '.')}}</p>
        <p>Time: {{ reservation.appointmentTime }}</p>
        <ul>
          <ng-container *ngIf="reservation.id!=null">
            <li *ngFor="let item of resolveObservable(getByReservation(reservation.id))">
              <p>Item ID: {{ item.id }}</p>
              <p>Item Name: {{ item.quantity }}</p>
              <!-- Add more item details as needed -->
            </li>
          </ng-container>
          
        </ul>
      </li>
    </ul>
  </div>
  
  <ng-template #noReservations>
    <p>No reservations found for {{ username }}</p>
  </ng-template>
  