<div *ngIf="userStateService.getLoggedInUser() ; else sorryMessage" class="profile-container" >
    <h1>User Profile</h1>
    
    <div class="table-container">
      <table class="table">
        <tr>
        </tr>
        <tr>
          <td>Email:</td>
        </tr>
        <tr>
          <td>First Name:</td>
        </tr>
        <tr>
          <td>Last Name:</td>
        </tr>
        <tr>
            <td>User role:</td>
        </tr>
        <tr>
            <td>Penality Points:</td>
        </tr>
        <tr>
          <td>City:</td>
        </tr>
        <tr>
          <td>Country:</td>
      </tr>
      <tr>
          <td>Phone number:</td>
      </tr>
      <tr>
        <td>Occupation:</td>
      </tr>
      </table>
      <table class="table">
        <tr>
        </tr>
        <tr>
          <td>{{ username }}</td>
        </tr>
        <tr>
          <td>{{ user?.firstName }}</td>
        </tr>
        <tr>
          <td>{{ user?.lastName }}</td>
        </tr>
        <tr>
            <td>{{ user?.userRole }}</td>
        </tr>
        <tr>
            <td>{{ user?.penaltyPoints }}</td>
        </tr>
        <tr>
          <td>{{ user?.city }}</td>
        </tr>
        <tr>
          <td>{{ user?.country }}</td>
        </tr>
        <tr>
          <td>{{ user?.phoneNumber }}</td>
        </tr>
        <tr>
          <td>{{ user?.occupation }}</td>
        </tr>
      </table>
    </div>
    <button (click)="editProfile()">
      <mat-icon>
        edit
      </mat-icon>
    </button>
  </div>
  <ng-template #sorryMessage>
    <div class="sorry-message">
      <p>unauthorized</p>
    </div>
  </ng-template>