body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pocetak
{
    display: flex;
    flex-direction: row;
}

.naslov
{
    margin-left: 15px;
    margin-bottom: 5px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Dodaj margin ispod profila */
    width: 400px;
    border-color: #3498db;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    margin-left: 500px;
    margin-top: 170px;
}

.table-container {
    display: flex;
    justify-content: space-between; /* Poravnavanje sa leve i desne strane */
    margin-top: 20px;
    color: #3498db;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1 {
    color: #3498db;
}

span {
    color: #0066cc;
    font-weight: bold;
}

.opis
{
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.dugmad
{
    display: flex;
    flex-direction: row;
}

.adresaaa
{
    display: flex;
    flex-direction: row;
}

.proba
{
    display: flex;
    flex-direction: row;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

/* Stilovi za filter i kartice */
.card-and-filter {
    display: flex;
    flex-direction: row;
}

.filter {
    margin-right: 10px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px; /* Prilagodi razmak sa leve strane */
}


.icon-cell {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 16px;
    margin-right: 5px;
    color: #3498db; /* Dodaj boju ikonici */
    margin-top: 8px;
}