<body>
<div *ngIf="userStateService.getLoggedInUser()" class="profile-container">
  <div class="pocetak"><img src="assets/images/prof.png" width="70px" height="55px"><h1 class="naslov">{{ user?.firstName}} {{ user?.lastName}} </h1></div>
  <div class="table-container">
    <table class="table">
      <tr>
      </tr>
      <tr>
        <td>Email: {{ user?.email }} </td>
      </tr>
      <tr>
          <td>My role in app: {{ user?.userRole }} </td>
      </tr>
      <tr>
          <td>{{ user?.penaltyPoints}} penality points</td>
      </tr>
      <tr>
        <td>From {{ user?.city}} , {{user?.country}} </td>
      </tr>
    <tr>
        <td>Phone number: {{ user?.phoneNumber }} </td>
    </tr>
    <tr>
      <td>Occupation: {{ user?.occupation }} </td>
    </tr>
    </table>
  </div>
  <button (click)="editProfile()">
    <mat-icon>
      edit
    </mat-icon>
  </button>
</div>
<ng-template #sorryMessage>
  <div class="sorry-message">
    <p>unauthorized</p>
  </div>
</ng-template>
</body>