<div *ngIf="loading; else content">
    <p>Loading QR codes...</p>
</div>

<ng-template #content>
    <div *ngIf="userQRCodeImages.length > 0; else noQRCodeMessage" class="container">
        <h2 class="qr-codes-heading">Your Reservations</h2>
        <h3 class="qr-codes-heading2">Scan them to reveal the contents</h3>

        <form>
            <label>
              <input type="radio" name="status" value="null" (change)="filteredStatus = null; filterQRCodeImages()"> All
            </label>
            <label>
              <input type="radio" name="status" value="PENDING" (change)="filteredStatus = 'PENDING'; filterQRCodeImages()"> Pending
            </label>
            <label>
              <input type="radio" name="status" value="TAKEN_OVER" (change)="filteredStatus = 'TAKEN_OVER'; filterQRCodeImages()"> Taken Over
            </label>
            <label>
              <input type="radio" name="status" value="EXPIRED" (change)="filteredStatus = 'EXPIRED'; filterQRCodeImages()"> Expired
            </label>
            <label>
              <input type="radio" name="status" value="CANCELED" (change)="filteredStatus = 'CANCELED'; filterQRCodeImages()"> Canceled
            </label>
          </form>
        
          <div *ngFor="let qrCodeInfo of filteredQRCodeImages; let i = index" class="qr-code-card">
            <div class="card">
              <p class="reservation-number">Reservation #{{ i + 1 }}</p>
              <p class="reservation-status"> - {{ qrCodeInfo.status }}</p>
              <img [src]="qrCodeInfo.imageUrl" alt="QR Code">
            </div>
          </div>
    </div>

    <ng-template #noQRCodeMessage>
        <p>No QR codes available</p>
    </ng-template>
</ng-template>
