<div *ngIf="company">
    <div class="card">
        <div class="heading"><p>{{ company.name }}</p></div>
        <div class="averageRating"><p>{{ company.description }}</p></div>
        <div class="address"><p>{{ company.address }}</p></div>
        <div class="averageRating"><p>Average grade: {{ company.averageGrade }}</p></div>
        <div>
            <div class="search-fields">  <input type="text" placeholder="Search by name" [(ngModel)]="searchName">
                <button (click)="search()"> 
                  <mat-icon>search</mat-icon> 
                </button>
                <button (click)="showAll()">
                  <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div *ngFor="let equipment of equipments">
            <div class="equipment-card">
                <div class="heading">
                    <p>{{ equipment.name }}</p>
                    <button (click)="acquireEquipment(equipment)" class="add-button">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="equipment-description"><p>{{ equipment.description }}</p></div>
                <div class="equipment-price"><p>Price: {{ equipment.price }}</p></div>
                <div class="equipment-grade"><p>Grade: {{ equipment.grade }}</p></div>
                <div class="equipment-type"><p>Type: {{ equipment.type }}</p></div>
            </div>
        </div>
    </div>
    

    <div *ngFor="let selectedEquipment of selectedEquipments">
        <div class="equipment-card">
            <div class="heading">
                <p>{{ selectedEquipment.name }}</p>
            </div>
            <div class="equipment-description"><p>{{ selectedEquipment.description }}</p></div>
            <div class="equipment-price"><p>Price: {{ selectedEquipment.price }}</p></div>
            <div class="equipment-grade"><p>Grade: {{ selectedEquipment.grade }}</p></div>
            <div class="equipment-type"><p>Type: {{ selectedEquipment.type }}</p></div>

            <form (ngSubmit)="selectedEquipment.id && submitQuantity(selectedEquipment.id, quantityForm.value.quantity)" #quantityForm="ngForm">
                <div class="quantity-input">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" ngModel required>
                </div>
                <button type="submit">Submit Quantity</button>
            </form>

        </div>
    </div>
    <button title="Use this button to make an appointment to pick up the equipment">Schedule pickup</button>
    <button title="Use this button to edit data for this company" (click)="edit(company.id || 0)">Edit</button>
    <button (click)="createReservations()">Create Reservations</button>

</div>
