<div *ngIf="company">
    <div class="card">
        <div class="heading"><p>{{ company.name }}</p></div>
        <div class="averageRating"><p>{{ company.description }}</p></div>
        <div class="address"><p>{{ company.address }}</p></div>
        <div class="averageRating"><p>Average grade: {{ company.averageGrade }}</p></div>
        <div>
            <div class="search-fields">  <input type="text" placeholder="Search by name" [(ngModel)]="searchName">
                <button (click)="search()"> 
                  <mat-icon>search</mat-icon> 
                </button>
                <button (click)="showAll()">
                  <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div *ngFor="let equipment of equipments">
            <div class="equipment-card">
                <div class="heading">
                    <p>{{ equipment.name }}</p>
                    <button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER'"
                    (click)="acquireEquipment(equipment)" class="add-button">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="equipment-description"><p>{{ equipment.description }}</p></div>
                <div class="equipment-price"><p>Price: {{ equipment.price }}</p></div>
                <div class="equipment-grade"><p>Grade: {{ equipment.grade }}</p></div>
                <div class="equipment-type"><p>Type: {{ equipment.type }}</p></div>
            </div>
        </div>
    </div>
    

    <div *ngFor="let selectedEquipment of selectedEquipments">
        <div class="equipment-card">
            <div class="heading">
                <p>{{ selectedEquipment.name }}</p>
            </div>
            <div class="equipment-description"><p>{{ selectedEquipment.description }}</p></div>
            <div class="equipment-price"><p>Price: {{ selectedEquipment.price }}</p></div>
            <div class="equipment-grade"><p>Grade: {{ selectedEquipment.grade }}</p></div>
            <div class="equipment-type"><p>Type: {{ selectedEquipment.type }}</p></div>

            <form (ngSubmit)="selectedEquipment && submitQuantity(selectedEquipment, quantityForm.value.quantity)" #quantityForm="ngForm">
                <div class="quantity-input">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" ngModel required>
                </div>
                <button type="submit">Submit Quantity</button>
            </form>

        </div>
    </div>
    <!--<tr *ngFor="let appointment of availableAppointments">
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.appointmentDate | date }}</td>
        <td>{{ appointment.appointmentTime }}</td>
        Add more columns as needed
      </tr> -->
      <div *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER'">
        <label for="appointmentDate">Select Appointment Date:</label>
        <select id="appointmentDate" name="appointmentDate" [(ngModel)]="selectedAppointment">
            <option *ngFor="let appointment of companyAppointments" [ngValue]="appointment">
                {{ appointment.appointmentDate | date }} {{ appointment.appointmentTime }} ({{ appointment.appointmentDuration }} hours)
            </option>
        </select>
      </div>

<div>
  
    <button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER'"
    title="Use this button to make an appointment to pick up the equipment" (click)="setExtraAppointment()">
       Set Extra Appointment
    </button>

    <div *ngIf="showDatePicker">
        <label>Select a date:</label>
        <input type="date" [(ngModel)]="selectedDateStr" (change)="loadAvailableTimeSlots()" />
    </div>

    <!-- Time slots -->
    <div *ngIf="showTimeSlots">
        <label>Select a time slot:</label>
        <select [(ngModel)]="selectedTimeSlot">
            <option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot.value">{{ timeSlot.display }}</option>
        </select>
    </div>

    <!-- Check appointment availability -->
    <button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER'"
        title="Check appointment availability" (click)="checkAppointmentAvailability()">
        Check Appointment Availability
    </button>

    <button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'COMPANY_ADMIN'" 
        (click)="edit(company.id || 0)">
        Edit
    </button>
    <button *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'USER'"
    (click)="createReservation()" [disabled]="!selectedAppointment">
        Create Reservation
    </button>
  </div>
  

</div>
<div id="map" style="height: 350px !important; width: 50% !important;"></div>