<body>
<div class="najveci" *ngIf="userStateService.getLoggedInUser() && userStateService.getLoggedInUser()?.userRole === 'COMPANY_ADMIN' ; else sorryMessage">
<div class="veliki">
<div *ngIf="company">
    <form (ngSubmit)="onSubmit()" #companyForm="ngForm" class="forma">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="company.name" required>
  
      <label for="address">Address:</label>
      <input class="inputAdresa" type="text" id="address" name="address" [(ngModel)]="company.address" required #addressInput (ngModelChange)="onAddressChange($event)">
  
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="company.description"></textarea>

      <label for="workTimeBegin">Work time begin:</label>
      <textarea id="workTimeBegin" name="workTimeBegin" [(ngModel)]="company.workTimeBegin"></textarea>

      <label for="workTimeEnd">Work time end:</label>
      <textarea id="workTimeEnd" name="workTimeEnd" [(ngModel)]="company.workTimeEnd"></textarea>
  
      <button type="submit" title="Use this button to update your company.">Update company</button>
    </form>
  </div>

  <div id="map" style="height: 515px !important; width: 50% !important;"></div>
</div>
</div>
<ng-template #sorryMessage>
    <div class="sorry-message">
      <p>unauthorized</p>
    </div>
  </ng-template>
  </body>