<div class="container">
    <h2>Login</h2>
    <!-- Add the following div to display an error message -->
    <div *ngIf="userDoesNotExist" class="error-message">
      User does not exist. Please check your credentials and try again.
    </div>
    <div *ngIf="disabled" class="error-message">
        User is disabled.
      </div>
      <div *ngIf="wrongPassword" class="error-message">
        Wrong password.
      </div>
    <form>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
  
      <button type="button" (click)="login()">Login</button>
    </form>
</div>

<div class="container" *ngIf="showChangePassword">
  <h2>Change your password before login!</h2>
  <div>
    <div>
      <label for="oldPassword">Old:</label>
      <input type="password" id="oldPassword" required [(ngModel)]="oldPassword" placeholder="Old Password" />
    </div>
    <div>
      <label for="newPassword">New:</label>
      <input type="password" id="newPassword" required [(ngModel)]="newPassword" placeholder="New Password" />
    </div>
    <div>
      <label for="confirmPassword">Confirm:</label>
      <input type="password" id="confirmPassword" required [(ngModel)]="confirmPassword" placeholder="Confirm Password" />
    </div>
    <div *ngIf="isPasswordNotConfirmed" class="error-message">
        Your passwords are not the same! Try again!
    </div>
    <div>
      <button type="button" (click)="changePassword()">Submit</button>
    </div>
  </div>
</div>

  