<body>
<div *ngIf="equipment">
    <form class="forma" (ngSubmit)="onSubmit()" #equipmentForm="ngForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="equipment.name" required>
  
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="equipment.description"></textarea>
  
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" [(ngModel)]="equipment.price" required>

      <label for="price">Quantity:</label>
      <div class="quantity-input">
        <button type="button" (click)="decreaseQuantity()">-</button>
        <input type="number" id="maxQuantity" name="maxQuantity" [(ngModel)]="equipment.maxQuantity" required>
        <button type="button" (click)="increaseQuantity()">+</button>
      </div>
  
      <button type="submit">Update equipment</button>
    </form>
  </div>
  </body>